.active_user_list_container {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  /* overflow-x: scroll; */
  border: 5px solid   #0052c9 ;
  /* border-radius: 10px; */
  margin-left: 10px;
  margin-top: 10px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  opacity: 0.9;
  box-shadow: 5px 5px #a9c3dd;
  border-radius: 10px;
 


 
 
}

.active_user_list_item {
  width: 98%;
  height: 80px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-right: 10px;
  /* border: 2px solid 	#070614; */
  /* border: 1px solid 	#2d1bcf; */

}




.active_user_list_text {
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
 
  font-size: 24px;

}


.active_user_list_button_container {
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
}
.activeuserbutton {
  width: 50px;
   height: 50px;
   border-radius: 40px;
   border: 2px solid #281849;
   background-color: #0f2a57;
  display: flex;
   align-items: center;
  justify-content: center; 
   margin-right: 10px;
   margin-left: 10px;
 
}
.activeuserbutton:hover {
opacity: 0.5;
box-shadow: 0px 0px 0px transparent;
border: 0px solid transparent;
text-shadow: 0px 0px 0px transparent;
}
.activeuserhead{
  
  padding-left: 60px;
  font-size: 14px;
  font-weight: 800;

}