
html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  color: #222221;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

.background_main_color {
  background-color: #222221;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background_secondary_color {
  /* background-color: #3e3e3f; */
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  
}

.text_main_color {
  color: #676669;
}

.text_secondary_color {
  color: #8a85ff;
}